@use "../../../../scss/" as *;
.movieshow__wrapper {
  padding: 0 100px;
}

.title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;

  .title-item {
    color: $txt-color;
  }

  & > * ~ * {
    margin-left: 18px;
  }

  .title-item:hover {
    color: $main-color;
    cursor: pointer;
  }
}

.title-item {
  @include flex(center, center);
  font-size: 16px;
  transition: all 0.3s ease;
}

.title-item.active {
  font-size: 24px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
}

.movie-list {
  @include flex(center, center);
}

// MovieItem.js

.movie-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;

  .main {
    color: $txt-color;
  }

  .movie-image {
    height: 300px;
    overflow: hidden;
    position: relative;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: fill !important;
      transform: scale(1);
      transition: transform 0.6s ease;
    }

    .movie-overlay {
      @include overlay;
      opacity: 0;
      transition: opacity 0.3s ease;

      .buy-ticket-btn {
        width: 100%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
      }
      .movie-footer-btn {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:hover .movie-overlay {
      opacity: 1;
    }
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

    .main-name {
      font-size: 15px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .main-comment {
      font-size: 12px;
      color: #ccc;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: -40px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 13px !important;
  background-color: $main-color;
  padding: 10px 10px;
  color: $white !important;
}
