@use "../../../../scss/" as *;

.form-wrapper {
  margin-top: 28px;
  margin-bottom: 32px;
  background-color: rgba($color: black, $alpha: 0.5);
  box-shadow: $box-shadow;
  border-radius: 20px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form__title {
    font-size: 20px;
    font-weight: 600;
    color: $main-color;
    text-transform: uppercase;
  }
}

.container {
  .form-group {
    width: 100%;
    @include flex(center, space-between);
    padding: 10px 20px;

    border-radius: 10px;

    & > * ~ * {
      margin-left: 12px;
    }

    .form-coltrol {
      color: $txt-color;
      width: 100%;
      font-size: 16px;
      padding: 8px;
      background-color: #353435;
      outline: none;
      border: none;
      border-radius: 5px;
    }

    .name-form {
      width: 30%;
    }

    .theater-form {
      width: 30%;
    }

    .day-form,
    .button-controll {
      width: 20%;
    }

    .button-controll {
      font-size: 16px;
      padding: 7px 32px;
      background-color: $main-color;
      color: $txt-color;
      font-weight: 600;
      border-radius: 6px;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
