@use "scss" as *;

.admin {
  font-family: initial;
  width: 100%;
  display: flex;

  &__sidebar {
    position: fixed;
    z-index: 99;
    width: 185px;
  }

  &__content {
    width: 100%;
    margin-left: 185px;
    background-color: #f2f3f5;

    &__topNav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 40px;
      margin-top: 20px;
      margin-bottom: 20px;

      .user__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        .avatar {
          margin-right: 5px;
          background-color: $main-color;
        }

        & > p {
          font-weight: 600;
          color: black;
        }
      }

      .noti {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
